* {
    box-sizing: border-box;
}
.row1:before,
.row1:after{
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
}
.col-1 {width: 9.09%;}
.col-2 {width: 18.18%;}
.col-3 {width: 27.27%;}
.col-4 {width: 36.36%;}
.col-5 {width: 45.45%;}
.col-6 {width: 54.54%;}
.col-7 {width: 63.64%;}
.col-8 {width: 72.73%;}
.col-9 {width: 81.82%;}
.col-10 {width: 90.91%;}
.col-11 {width: 100%;}
.col-1_64 {width: 14.91%;}

/*div.tile-square {
    height: 184px;
    width: 187px;
}
div.tile-vertical {
    height: 184px;
    width: 114px;
}
div.tile-horizontal {
    height: 114px;
    width: 187px;

}*/

div.tile-vertical {
    position: relative;
}
.ghost-div{
    position: absolute;
}

html, body {
    width: 100%;
}
.container1 {
    width: 1400px;
    min-width: 1400px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

#row1, #row2{
    height: 184px;
}

#row1 > div, #row3 > div {
    float: left;
}

.col-left, .col-center {
    float:left;
}
.col-right {
    float: right;
}

.col-left, .col-right {
    width: 187px;
}

.col-center {
    min-width: 1026px;
}